.carousel-container {
    overflow: hidden;
    padding-top:30px;
}
.movie-slider {
    margin-left:20px;
}
.react-multi-carousel-track {
    margin-left:-80px;
}
.popular_movie_slide h3 {
    padding-left: 2rem;
    font-size: 24px;
}