.detail-img img {
    width:100%;
}
.detail-banner {
    height: 550px;
    position: relative;
    overflow: hidden;
}
.detail-banner-img {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.detail-text-genre {
    margin-bottom:10px;
}
.detail-text-genre span {
    margin-right:5px;
}
.related-movies-title {width:1320px; font-size: 32px; margin-left: auto; margin-right: auto; margin-bottom:20px;}

@media screen and (max-width: 1320px) {
    .related-movies-title {width:90%;}
}

@media screen and (max-width: 768px) {
    .related-movies-title {font-size: 26px; margin-bottom:40px;}
}