.detail-img img {
    width:100%;
}
.detail-banner {
    height: 550px;
    position: relative;
    overflow: hidden;
}
.detail-banner-img {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.detail-text-genre {
    margin-bottom:10px;
}
.detail-text-genre span {
    margin-right:5px;
}