.banner {
    height:56vh;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.banner::before {
    content:'';
    background:linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    width:100%;
    height: 100%;
}
.banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    position:relative;
    z-index: 1;
}

@media screen and (max-width: 768px) {    
    .banner-text-area {
        width: 100%;
        justify-content: end;
    }
    
}